:root{
    --transition: all 0.4s ease;
}

/* top start */

.top{
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    z-index: 1000;
}

/* top end */

/* content start */

.content{
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    backdrop-filter: blur(7px);
    transition: var(--transition);
    z-index: 1000;
}

.content-active{
    opacity: 0;
    pointer-events: none;
}

.content__container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-card{
    width: 100%;
    max-width: 700px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    border: 0.5px solid #eee;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.close-btn{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #eee;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.content__text{
    font-size: 20px;
    color: #eee;
}

/* content end */

/* header start */

.header{
    width: calc(100% - 80px);
    padding: 10px 20px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 40px;
    left: 40px;
    border-radius: 20px;
    border: 0.5px solid #eee;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    z-index: 100;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__logo{
    width: 100%;
    max-width: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #eee;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bars-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #eee;
    border: none;
    background-color: transparent;
}

.close-bars, .open-bars{
    display: none;
}

.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.nav__item{
    display: inline-block;
}

.nav__link{
    display: inline-block;
    font-size: 18px;
    color: #eee;
    text-decoration: none;
    transition: var(--transition);
}

.nav__link::after{
    content: "";
    width: 0;
    height: 2px;
    position: relative;
    display: block;
    background-color: #eee;
    transition: var(--transition);
}

.nav__link:hover::after{
    width: 100%;
}

/* header end */

/* hero start */

.hero{
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.hero__container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__text-box{
    color: #eee;
}

.hero__title{
    font-size: 50px;
    margin-bottom: 20px;
}

.hero__title .primary{
    color: #b6072d;
    transition: var(--transition);
}

.hero__title .primary span{
    color: #656bff;
    transition: var(--transition);
}

.hero__title .primary:hover{
    color: #656bff;
}

.hero__title .primary:hover span{
    color: #b6072d;
}

/* hero end */

/* instruction start */

.instruction{
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.instruction__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}

.instruction__title{
    font-size: 50px;
}

.chat-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}

.chat__message{
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.my-message{
    justify-content: flex-end;
    margin: 0;
    margin-left: auto;
}

.ai-message{
    justify-content: flex-start;
    margin: 0;
    margin-right: auto;
}

.message-text{
    width: 100%;
    max-width: 480px;
    padding: 15px 10px;
    border-radius: 20px;
    border: 0.5px solid #eee;
    background: rgba(255, 0, 229, 0.10);
    backdrop-filter: blur(20px);
}

.message-profile{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 50%;
    border: 0.5px solid #eee;
    background: rgba(255, 0, 229, 0.10);
    backdrop-filter: blur(20px);
}

/* instruction end */

/* about start */

.about{
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.about__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}

.about__title{
    font-size: 50px;
}

.about__card-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about__card-col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.about__card{
    width: 100%;
    max-width: 695px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 20px;
    border: 0.5px solid #eee;
    background: rgba(255, 0, 229, 0.10);
    backdrop-filter: blur(20px);
}

.about__card__icon{
    font-size: 120px;
}

.icon-blue{
    color: #656bff;
}

.icon-red{
    color: #b6072d;
}

.about__card__img-box{
    width: 100%;
    display: flex;
}

.about__card__img{
    width: 100%;
    object-fit: cover;
}

.mini-card{
    max-width: 395px;
}

.about__card__title{
    font-size: 20px;
    text-align: center;
}

.about__card__text a{
    font-weight: 700;
    color: #eee;
    text-decoration: underline;
}

/* about end */

/* contact start */

.contact{
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.contact__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}

.contact__title{
    font-size: 50px;
}

#form{
    width: 100%;
    max-width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    font-family: monospace, 'Inder', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    border: 0.5px solid #eee;
    background-color: rgba(255, 0, 229, 0.10);
    backdrop-filter: blur(10px);
}

.inp{
    width: 100%;
    max-width: 250px;
    padding: 5px 10px;
    display: block;
    font-size: 18px;
    background-color: transparent;
    color: #eee;
    border-radius: 10px;
    border: 0.5px solid #eee;
    transition: var(--transition);
    backdrop-filter: blur(10px);
    resize: none;
}

.inp::placeholder{
    color: rgba(238, 238, 238, 0.8);
}

#message{
    height: 150px;
}

#submit{
    width: 100%;
    max-width: 250px;
    display: block;
    border: 0.5px solid #eee;
    border-radius: 10px;
}

/* contact end */

/* social start */

.social{
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    text-align: center;
}

.social__title{
    font-size: 50px;
}

.social__card-wrap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.social__card{
    width: 100%;
    max-width: 150px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    color: #eee;
    border: 0.5px solid #eee;
    background: rgba(255, 0, 229, 0.10);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-decoration: none;
    text-align: center;
    transition: var(--transition);
}

.social__card:hover{
    backdrop-filter: blur(10px);
}

.social__card__icon{
    font-size: 35px;
}

.social__card__title{
    font-size: 18px;
}

/* social end */

/* footer start */

.footer{
    width: 100%;
    padding-top: 3px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #eee;
    background-color: rgba(255, 0, 229, 0.10);
    backdrop-filter: blur(20px);
}

.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__copyright{
    display: inline-block;
    font-size: 18px;
    color: #eee;
    text-decoration: none;
}

/* footer end */

/* @media start */

@media (max-width: 375px) {

    body{
        font-size: 14px;
    }

    .header__logo{
        font-size: 20px;
    }

    h1,
    h2{
        font-size: 40px !important;
    }

}

@media (max-width: 400px) {

    .header{
        width: calc(100% - 40px);
        right: 20px;
        left: 20px;
    }

    .content-card{
        max-width: 300px;
    }

}

@media (max-width: 768px) {

    .content-card{
        max-width: 400px;
    }

    .nav__list{
        display: none;
    }

    .open-bars{
        display: flex;
    }

}

@media (max-width: 1024px) {

    .content-card{
        max-width: 500px;
    }
    
    .about__card-wrap{
        flex-direction: column;
    }

    .about__card{
        max-width: 750px;
    }
    
    .mini-card{
        max-width: 750px;
    }

}

/* @media end */